<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musify</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="..\static\homestyle.css">
</head>

<body>
  <div class="mobile-nav">
    <div class="hamburger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <h1 class="brand">Musify</h1>
    <a class="cart-icon" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M24 3l-.743 2h-1.929l-3.474 12h-13.239l-4.615-11h16.812l-.564 2h-13.24l2.937 7h10.428l3.432-12h4.195zm-15.5 15c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.9-7-1.9 7c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z" />
      </svg>
    </a>
  </div>
  <div class="navbar">
    <div class="header">
      <h1 class="brand">Hello</h1>
      <h1 class="brand">Anjuman!</h1>
    </div>
    <ul class="nav-links">
     
      <li><a id="recommendations" href="#">Recommendations</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Gallery</a></li>
     
    </ul>
    <a class="cart-button" href="index.html">Sign Out</a>
  </div>
  <section class="content">
    <div class="hero-container">
      <h1>What would you <br />like to listen today?</h1>
      <div class="description">
        <p class="description-text">These are some recommendations for you. Hope you like it! </p>
        <div class="description-line"></div>
      </div>
    </div>
    <div class="products-carousel">
        <div class="product-container">
            <img src="https://cdns-images.dzcdn.net/images/cover/1862d150cb6efb45c555a9ab5a001a33/264x264.jpg" alt="Farmhouse Pizza" class="image">
            <p class="product-name"><a href="music.html" >Yeah Yeah	<br />Bodyrox</p></a>
          </div>
      <div class="product-container">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b9/Myworld2.jpg" alt="song1" class="image">
        <p class="product-name"><a href="music.html" >Somebody To Love<br />Justin Bieber</p></a>
      </div>
     
      <div class="product-container">
        <img src= "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1451076963l/28339970._SX318_.jpg" alt="Chicken Burger" class="image">
        <p class="product-name"><a href="music.html" >Marry Me<br />Train</p></a>
        
      </div>
      <div class="product-container">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/78/Fatboy_Slim_-_Praise_You_single_cover.png" alt="Loaded Nachos" class="image">
        <p class="product-name">Praise You<br />Fatboy Slim</p>
      </div>
      <div class="product-container">
        <img src="https://e.snmc.io/i/1200/s/e6d1fc1702c30defebc92c1630389ad7/2779397" class="image">
        <p class="product-name">Whatcha Say<br />Jason Derulo</p>
      </div>
      <div class="product-container">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/0e/Vanilla_twilight.jpg" alt="Mexican Taco" class="image">
        <p class="product-name">Vanilla Twilight<br />Owl City</p>
      </div>
      <div class="product-container">
        <img src="https://i1.sndcdn.com/artworks-000003735519-zqqlpj-t500x500.jpg" alt="Farmhouse Pizza" class="image">
        <p class="product-name">Bulletproof<br />La Roux</p>
      </div>
    </div>
    <div class="mobile-description">
      <p class="description-text">We at musify care for what you like!</p>
      <div class="description-line"></div>
    </div>
  </section>

</body>
  <script  src="..\static\home.js"></script>
</html>