<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musify</title>
    <link rel="stylesheet" href="..\static\style.css" >

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
      </script>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
      <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
 
    <div class="container">
     
          
          <form class="login-form">
            <h1>Musify</h1>
            <div class="fo">
              
              <div class="login-form">
                <div class="form-control">
                    <input  placeholder="Email" type="email" id="loginemail" name="loginemail" required/>
                  <i data-feather="at-sign"></i>
                 
                 
                </div>
                <div class="form-control">
                  <i data-feather="key"></i>
                  <input type="Password" placeholder="Password" id="loginpassword" name="loginpassword" required/>
                </div>
                
                <input type="button" id="loginbtn" name="loginbtn" value="Log In">
                <p class="message">Not registered? <a href="register.html">Create an account</a></p>
              </div>

            </div>
            
          </form>

        
      </div>
      <div class ="circle">
        <img src="..\static\1.png">
        </div> 
    
</body>
<script type = "module" src="..\static\login.js"></script>
</html>



